fastapi==0.115.12
uvicorn[standard]==0.34.0
sqlalchemy==2.0.39
psycopg[binary]==3.2.6
alembic==1.15.1
pydantic-settings==2.8.1
python-multipart==0.0.20
PyJWT==2.10.1
pwdlib[argon2]==0.2.1
boto3==1.37.16
celery[redis]==5.4.0
pytest==8.3.5
httpx==0.28.1

email-validator==2.2.0
pypdf==5.4.0
Pillow==11.2.1
PyMuPDF==1.25.5
opencv-python-headless==4.11.0.86
pytesseract==0.3.13

pyotp==2.9.0

cryptography==44.0.2
